@import "./src/assets/scss/master";

.private-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .container {
    height: 100%;
    background-color: #ffffff;
    display: flex;
  }

  .content {
    padding: 1em 3em;
    box-sizing: border-box;
    background-color: white;
    height: calc(100vh - 106px);
    margin: 25px;
    width: 100%;
    overflow: auto;
  }

  ::ng-deep {

    .p-sidebar {
      position: relative;
      box-shadow: none;
      background-color: $primary;

      .p-sidebar-content {
        padding: 0px;
        height: 100%;
      }
      
      .p-sidebar-header {
        display: none;
      }
    }

    .p-sidebar-left {
      width: 200px;
      height: calc(100vh - 56px);
      top:auto;
    }
  }
}



