@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");

@import "./color";


html,
body,
header,
nav,
main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $body;
}

body {
  background-color: $background;
}

nav > * ~ * {
  color: $foreground;
}

h1 {
  color: $title;
  font-size: 20px;
  font-weight: 700;
}
h2 {
  color: $title;
  font-size: 20px;
  font-weight: 400;
}

button:active {
  border: 0;
}

.title-firstcolor {
  color: $garnet;
  font-family: 'Source Sans Pro', sans-serif;
}

.title-secondcolor {
  color: $selected;
  font-family: 'Source Sans Pro', sans-serif;
}

a[href] {
  cursor: pointer;
}


.button-bar {
  text-align: right;
}

.space-right {
  margin-right: 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.read-only {
  color: #aaaaaa;
}

.float-left {
  margin-left: auto;
}

button {
  font-size: 14px;
  min-width: 100px;
  min-height: 40px;
  max-height: 40px;
  border: none;
}

button:focus {
  outline: none;
}

button[primary] {
  background-color: $button-color-primary;
  color: $button-font-color-primary;
  border-color: $button-border-color-primary;
  border-style: solid;
  border-width: 1px;
}

button[secondary] {
  background-color: $button-color-secondary;
  color: $button-font-color-secondary;
  border-color: $button-border-color-secondary;
  border-style: solid;
  border-width: 1px;
}

button[primary-link] {
  background-color: inherit;
  color: $primary-link;
  border-color: inherit;
  border-style: none;
  border-width: 0px;
}

button[secondary-link] {
  background-color: inherit;
  color: $secondary-link;
  border-color: inherit;
  border-style: none;
  border-width: 0px;
}

button:not(disabled) {
  cursor: pointer;
}
button[primary] {
  &:disabled,
  &[disabled] {
    background: $button-disabled !important;
    border-color: $button-disabled;
  }
}

button[secondary] {
  &:disabled,
  &[disabled] {
    background: $button-disabled !important;
    border-color: $button-disabled;
    color: $button-font-color-primary;
  }
}

.cdk-global-scrollblock {
  overflow-y: auto;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  background-color: rgba($secondary, 0.25);
}


/** Estilos para el texto de compilación **/
span.text_grey {
  color: darkgrey;
}

span.text_green {
  color: green;
}

span.text_red {
  color: red;
  font-weight: bold;
}

/* ESTILOS PARA LAS PANTALLAS */
.screen-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1em 2em 2em 2em;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
      display: flex;
      align-items: baseline;
      .title {
        h1 {
          margin-bottom: 0;
          color: $title;
          font-size: 20px;
          font-weight: 700;
        }
      }
      .button {
        text-align: right;
      }
    }
  }
}

/* TARJETAS DASHBOARD */
.cards {
  .card {
    padding: 1em;
    background-color: white;
    flex-basis: calc(50% - 4em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div:first-child {
      display: flex;
      justify-content: space-between;
      .heading1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      img {
        width: 5vw;
        height: auto;
      }
    }
    h1 {
      color: $title;
      font-size: 20px;
      font-weight: 700;
    }
    h2 {
      font-size: 1.2vw;
    }

    .heading2 {
      color: grey;
      font-size: 1.3vw;
      height: 100%;
      p {
        margin: 0;
      }
    }
  }
}

*:focus {
  outline: none !important;
}

/* ESTILOS PRIMENG */
::ng-deep {

  * {
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
  }

  .pi {
    font-family: 'primeicons';
  }

  /* ESTILO TITULO CON BOTÓN */
  .title-button {
    display: flex;
    align-items: center;
    h1 {
      margin-right: 20px;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  /* ESTILO TITULOS */
  h2.tabview-title {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  /* ESTILO DE LOS BOTONES */
  .p-button:hover, .p-button:focus {
    box-shadow: none;
  }

  p-button.secondary {

    .p-button, .p-button:hover {
      background-color: white;
      color: $primary;
      border: 1px solid $primary;
      border-radius: 0;
      font-size: 14px;
      width: 150px;
      height: 40px;
    }
  }

  p-button.primary {
    .p-button, .p-button:hover {
      border: none;
      color: white;
      background-color: $primary;
      border-radius: 0;
      width: 150px;
      margin: 0px;
      height: 40px;
    }
  }

  p-button .p-button:disabled {
    background: $button-disabled;
    border-color: $button-disabled;
  }

  //Estilo botones con icono primarios, añadir la clase
  .primary-icon .p-button-icon {
    color: white;
    background-color: $primary;
  }

  /* ESTILO DE LOS DIALOGOS */
  .p-dialog::before {
    overflow: hidden;
  }
  
  .p-dialog {
    width: 100%;
    height: 100%;

    .p-dialog-content {
      overflow: hidden;
    }

    .p-dialog-header {
      color: $darkgrey;
      font-size: 20px;
      font-weight: 700;
    }

    p-button.secondary .p-button {
      width: 100px;
    }
  }

  /* ESTILO DE LOS INPUTS */
  .p-calendar {
    border:none;

    .p-datepicker-trigger:enabled:focus, .p-datepicker-trigger:enabled, .p-datepicker-trigger:disabled {
      background-color: white;
      color: $icon;
      border:none;
    }
  }

  .p-datepicker-trigger:focus {
    box-shadow: none;
  }

  .p-float-label {
    font-size: 16px;
    color: $lightgray;

    input:focus ~ label, input.p-filled ~ label, textarea:focus ~ label, textarea.p-filled ~ label, .p-inputwrapper-focus ~ label, .p-inputwrapper-filled ~ label {
      top:0;
    }

    input:focus ~ label, textarea:focus ~ label, .p-inputwrapper-focus ~ label {
      color: $primary;
    }

    .p-inputtext.ng-dirty.ng-invalid:focus, .p-inputtext.ng-dirty.ng-invalid:hover {
      border-color: $error;
    }
  }

  .p-float-label:focus {
    border:none;
  }

  .p-inputtext {
    border: solid $lightgray;
    border-width: 0 0 2px 0;
    border-radius: 0;
  }

  .p-inputtext:enabled:hover {
    border-color: $lightgray;
  }

  .p-inputtext:enabled:focus, .p-dropdown.p-dropdown-open .p-dropdown-label, .p-dropdown.p-focus .p-dropdown-label{
    box-shadow: none;
    border-color: $primary;
  }

  .p-dropdown {
    box-shadow: none;
    border: none;

    .p-dropdown-trigger {
      display: none;
    }

    .p-dropdown-label {
      border: solid $lightgray;
      border-width: 0 0 2px 0;
    }
  }

  .p-dropdown.ng-touched.ui-inputwrapper-focus:not(form) > div {
    box-shadow: none;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
  }

  /* ESTILO DEL PAGINADOR */
  p-paginator .p-paginator {
    background-color: $background;
    justify-content: right;

    .p-dropdown {
      width: 75px;

      .p-inputtext {
        border:none;
      }

      .p-dropdown-trigger {
        display:flex;
      }
    }

    button.p-link {
      box-shadow: none;
    }

    .p-paginator-left-content, .p-paginator-right-content, .p-paginator-pages {
      display: none;
    }
  }

  /* ESTILO DE LAS TABLAS */
  .p-datatable {

    .p-datatable-thead > tr > th {
      background-color:$background;
      border-color: $primary;
      font-weight: bold;
      color: $darkgrey;
    }

    .p-datatable-tbody > tr > td {
      border-color: $primary;
    }

    .p-sortable-column.p-highlight .p-sortable-column-icon {
      color: $primary;
    }

    td button {
      min-width: 0px;
    }

    .p-sortable-column:not(.p-highlight):hover, .p-sortable-column.p-highlight, .p-sortable-column.p-highlight:hover  {
      background-color: $background;
      box-shadow: none;
    }
  }

  /* ESTILO DE LA VISTA DE PESTAÑAS */
  p-tabview .p-tabview {
    .p-tabview-panels {
        height: calc(100vh - 270px);
        overflow: auto;
    }
    .p-tabview-nav li.p-highlight {
      .p-tabview-nav-link {
          border-color: $primary;
          color: $primary;
      }
      .p-tabview-nav-link:focus {
          box-shadow: none;
      }
    }
    .p-tabview-nav li.ng-star-inserted .p-tabview-nav-link:focus {
        box-shadow: none;
    }
  }

  /* ESTILO DE LAS BARRAS DE SCROLL */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bebebe;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eaeaea;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $scrollbar-hover;
  }
}
