@import "./src/assets/scss/master";

.footer {
    td {
        background-color: white;
        border: 0px;
    }

    .totalCell {
        background-color: #d1d1d1;
        font-weight: bold;
    }
  }

.global-task {
    height: 73px;
}

h2 {
    margin-top: 50px;
}

h2:first-child {
    margin-top: 20px;
}