@import "./src/assets/scss/master";

.global-task {
    height: 73px;
}

h2 {
    margin-top: 50px;
}

h2:first-child {
    margin-top: 20px;
}

::ng-deep {
    .comment-icon-fill.p-button.p-button-text.p-button-plain, .comment-icon-fill.p-button.p-button-text.p-button-plain:hover {
        color:$primary;
    }

    .p-datatable .p-datatable-tfoot > tr > td.add-button-cell {
        padding-left: 0;
    }
}