@import "./src/assets/scss/master";

.title {
    display: flex;
    justify-content: space-between;
}

.criteria, .title {
    align-items: center;
    margin-bottom: 30px;
    margin-top: 15px;

    h2 {
        margin: 0;
        margin-right: 20px;
    }
}

.flex-content {
    margin-right: 60px;
}

.checkButton {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

p {
    margin:0;
    margin-left: 10px;
}

:host::ng-deep {

    .p-datatable .p-datatable-tbody>tr>td {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.top-header{
    justify-content: center;
}

.title{
    gap: 1.5rem;
}