@import "./src/assets/scss/master";

#inputCollab {
    margin-bottom: 25px;
    width: 50%;
}

#data {
    margin-right: 60px;
}

.input-container {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 40px;
}

:host::ng-deep {

    .p-datatable .p-datatable-tbody>tr>td {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-inputtext, .p-autocomplete {
        width: 100%;
        min-width: 150px;
    }

    .big_input {
        margin-bottom: 40px;
    }

    .small_input {
        flex: 1;

        span.p-calendar {
            width: 100%;
        }
    }

    .medium_input {
        flex: 2;

        span.p-float-label {
            padding-right: 40px;
        }
    }
}

.top-header{
    justify-content: center;
}