<div class="flex-container">
    <div class="flex-content">
        <h2 class="tabview-title">Datos generales</h2>
        <div id="data" class="flex-content">
            <span class="p-float-label big_input">
                <input required [disabled]="!nueva" id="name-input" type="text" pInputText [(ngModel)]="estimation.project.name"> 
                <label for="name-input">Nombre del proyecto</label>
            </span>

            <div class="input-container">
                <div class="medium_input">
                    <span class="p-float-label">
                        <input *ngIf="!nueva" [disabled]="true" id="customer-input" type="text" pInputText [(ngModel)]="estimation.project.customer.name"> 
                        <p-autoComplete required *ngIf="nueva" id="customer-input" [(ngModel)]="customer" [suggestions]="customers" (completeMethod)="searchCustomers($event)" (onBlur)="updateCustomer()" field="name"></p-autoComplete> 
                        <label for="customer-input">Cliente</label>
                    </span>
                </div>
 
                <span class="p-float-label small_input">
                    <input required [disabled]="!nueva" id="version-input" type="text" pInputText [(ngModel)]="estimation.estVersion"> 
                    <label for="version-input">Versión</label>
                </span>
            </div>

            <div class="input-container">
                <span class="p-float-label small_input">
                    <p-calendar [disabled]="true" [showIcon]="true" inputId="creationDate" dateFormat="dd/mm/yy" [(ngModel)]="estimation.created" showTime="true" [hourFormat]="24"></p-calendar>
                    <label for="creationDate">Fecha de creación</label>
                </span>
    
                <span class="p-float-label small_input">
                    <p-calendar [disabled]="true" [showIcon]="true" inputId="updateDate" dateFormat="dd/mm/yy" [(ngModel)]="estimation.lastUpdate" showTime="true" [hourFormat]="24"></p-calendar>
                    <label for="updateDate">Última actualización</label>
                </span>
    
                <span class="p-float-label small_input">
                    <input [disabled]="true" id="user-input" type="text" pInputText [(ngModel)]="estimation.createdBy.firstName + ' ' + estimation.createdBy.lastName " > 
                    <label for="user-input">Propietario</label>
                </span>
            </div>
        </div>
    </div>

    <div class="flex-content">
        <div>
            <h2 class="tabview-title">Colaboradores</h2>
            <span id="inputCollab" class="p-float-label">
                <p-autoComplete id="collaborator-input" [suggestions]="users" (completeMethod)="searchCollaborator($event)" field="username" (onSelect)="addCollaborator($event)">
                    <ng-template let-user pTemplate="item">
                        <div class="ui-helper-clearfix">
                            <div>{{user.firstName}} {{user.lastName}} <b>({{user.username}})</b></div>
                        </div>
                    </ng-template>
                </p-autoComplete> 
                <label for="collaborator-input">Añadir colaborador</label>
            </span>
            <p-table [value]="collaborators" [scrollable]="true" responsiveLayout="scroll" scrollHeight="calc(100vh - 450px)">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Username</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Acción</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-estcollab>
                    <tr>
                        <td>{{estcollab.collaborator.username}}</td>
                        <td>{{estcollab.collaborator.firstName}}</td>
                        <td>{{estcollab.collaborator.lastName}}</td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-plain icon" (click)="deleteCollaborator(estcollab)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
