@import "./src/assets/scss/master";

.container {
  overflow: hidden !important;
}

:host::ng-deep {
  .p-datatable .p-datatable-tbody>tr>td {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
    gap: 1rem;

    .filterFields {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      width: 70%;
      flex: 1;
    }
    .filterButtons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
    .p-inputtext {
      min-width: 200px;
      max-width: 260px;
      min-height: 40px;
    }
  }
}

h3 {
  color: $title;
  font-size: 16px;
}

p-inputswitch {
  margin: 13px 0px;
}