@import "./src/assets/scss/master";

.container {

  .filters {
    display:flex;
    justify-content: space-between; 
    margin-bottom: 20px; 
    margin-top: 30px;
  }

  ::ng-deep {

    .p-calendar {
      border:none;
    }

    .p-calendar .p-element {
      background-color: white;
      color: $icon;
      border:none;
    }

    #startDate, #endDate {
      width: 160px;
    }

    .p-inputtext {
      width: 280px;
    }

    .p-dropdown {
      width: 280px;
    }

    .p-button-outlined {
      border: 1px solid $primary;
      color: $primary;
      border-radius: 0;
      width: 150px;
    }

    .p-datatable-wrapper::-webkit-scrollbar{
      width: 10px;
      height: 10px; 
    }

    .p-datatable-wrapper::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background-color: #bebebe;
    }

    .p-datatable-wrapper::-webkit-scrollbar-track{
      box-shadow: inset 0 0 5px #eaeaea;
      border-radius: 10px;
    }
   
    .p-paginator-left-content, .p-paginator-right-content, .p-paginator-pages {
      display: none;
    }

    .p-paginator {
      background-color: $background;

      .p-dropdown {
        width: 75px;
      }
    }

    .p-datatable .p-datatable-thead > tr > th {
      background-color:$background;
      border-color: $primary;
      font-weight: bold;
      color: $darkgrey;
    }

    .p-datatable .p-datatable-tbody > tr > td {
      border-color: $primary;
    }

    .filters .p-dropdown .p-dropdown-trigger {
      display: none;
    }

    .filters .p-inputtext {
      border: solid $lightgray;
      border-width: 0 0 2px 0;
      border-radius: 0;
    }

    .filters .p-float-label:focus {
      border:none;
    }

    .filters .p-dropdown {
      border: none;
    }

    span > .p-inputtext:focus {
      box-shadow: none;
    }

    .p-inputtext {
      height: 33.5px;
    }

    .p-float-label {
      font-size: 16px;
      color: $lightgray;
    }

    .p-dropdown.ng-touched.ui-inputwrapper-focus:not(form) > div {
      box-shadow: none;
    }

    .p-dropdown {
      box-shadow: none !important;
    }

    .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
      color: $primary;
    }

    .p-paginator {
      justify-content: right;
    }
  }

  .filterButtons {
    width: 320px;
    display:flex;
    justify-content: space-between;
  }

  td button {
    min-width: 0px;
  }

}