<div class="container">
    <div class="title-button">
        <h1> Listado de estimaciones </h1>
        <p-button class="primary" label="Crear estimación" (click)="createEstimation()"></p-button>
        <div style="flex:1"></div>
        <div *ngIf="roleAdmin" style="display:flex">
                <h3>Admin View&nbsp;&nbsp;</h3>
                <p-inputSwitch [(ngModel)]="adminView" (onChange)="changeAdminView()"></p-inputSwitch>
        </div>
    </div>

    <div class="filters">
        <span class="p-float-label">
            <p-dropdown id="customer-drop" [options]="customers" [(ngModel)]="filterCustomer" optionLabel="name" placeholder="  "></p-dropdown>
            <label for="customer-drop">Cliente</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="filterProject"> 
            <label for="float-input">Nombre</label>
        </span>
        <span class="p-float-label">
            <p-calendar [(ngModel)]="filterStartDate" [showIcon]="true" inputId="startDate" dateFormat="dd/mm/yy"></p-calendar>
            <label for="startDate">Fecha inicio</label>
        </span>
        <span class="p-float-label">
            <p-calendar [(ngModel)]="filterEndDate" [showIcon]="true" inputId="endDate" dateFormat="dd/mm/yy"></p-calendar>
            <label for="endDate">Fecha fin</label>
        </span>
        <div class="filterButtons">
            <p-button class="secondary" label="Limpiar" (click)="onCleanFilter()"></p-button>
            <p-button class="secondary" label="Filtrar" (click)="onSearch()"></p-button>
        </div>
    </div>

    <p-table #table [value]="estimations" [lazy]="true" (onLazyLoad)="loadPage($event)" [totalRecords]="totalElements" [loading]="loading" 
    [scrollable]="true" responsiveLayout="scroll" scrollHeight="calc(100vh - 350px)" [paginator]="true" [rows]="25" [showCurrentPageReport]="true" 
    currentPageReportTemplate="{first} - {last} of {totalRecords}" [rowsPerPageOptions]="[10,25,50]" sortField="lastUpdate" [sortOrder]="-1">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="project.customer.name">Cliente <p-sortIcon field="project.customer.name"></p-sortIcon></th>
                <th pSortableColumn="project.name">Nombre <p-sortIcon field="project.name"></p-sortIcon></th>
                <th pSortableColumn="lastUpdate">Fecha <p-sortIcon field="lastUpdate"></p-sortIcon></th>
                <th pSortableColumn="estVersion">Version <p-sortIcon field="estVersion"></p-sortIcon></th>
                <th pSortableColumn="totalDays">Jornadas <p-sortIcon field="totalDays"></p-sortIcon></th>
                <th pSortableColumn="totalCost">Revenue <p-sortIcon field="totalCost"></p-sortIcon></th>
                <th>Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-estimation>
            <tr>
                <td>{{estimation.project.customer.name}}</td>
                <td>{{estimation.project.name}}</td>
                <td>{{estimation.lastUpdate | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>{{estimation.estVersion}}</td> 
                <td>{{estimation.totalDays | number: '1.0': 'es-ES'}}</td>
                <td>{{estimation.totalCost | number:'1.2-2':'es-ES'}}€</td>
                <td>
                    <div style="display:flex; justify-content:space-between; width:150px">
                        <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editEstimation(estimation.id)" class="p-button-rounded p-button-text p-button-plain icon"></button>
                        <button pButton pRipple type="button" icon="pi pi-copy" (click)="copyEstimation(estimation)" class="p-button-rounded p-button-text p-button-plain icon"></button>                    
                        <button pButton pRipple type="button" icon="pi pi-history" (click)="openVersionDialog(estimation.project.id)" class="p-button-rounded p-button-text p-button-plain icon"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>    
</div>



