<div class="flex-column {{contentWindowClass}}">


    <div class="flex flex-row justify-content-between">
        <div class="flex justify-content-start">
            <h3 class="p-0 m-0 mb-2">
                Listado de estimaciones
            </h3>
        </div>
    </div>


    <div class="flex flex-row justify-content-between align-items-center">
        <div class="flex items-center ml-2">
            <div class="small-input-switch">
                <p-inputSwitch [(ngModel)]="adminView" (onChange)="loadPage()" label="Admin View"></p-inputSwitch>
            </div>
            <span style="margin-left: 0.5rem;">Admin View</span>
        </div>

        <div>
            <button tooltipPosition="top" pButton pRipple type="button" icon="pi pi-plus" class="p-button-lg m-2 p-button-outlined" pTooltip="Crear estimación" (click)="createEstimation()"></button>
        </div>
    </div>

    <div class="container">

    <p-table [style]="{'height': 'calc(100vh - 210px)' }" [scrollable]="true" scrollHeight="flex" selectionMode="single" [value]="estimations" 
    [responsive]="true" styleClass="p-datatable-striped" [paginator]="true" [rows]="10" sortField="lastUpdate" [sortOrder]="-1">
        <ng-template pTemplate="header">
            <tr>

                <th class="flex flex-none w-20rem flex-column align-items-center justify-content-center" >
                    <div class="flex flex-row w-full top-header" pSortableColumn="project.customer.name">
                        <span class="flex flex-1 justify-content-center">Cliente</span>
                        <p-sortIcon field="project.customer.name"></p-sortIcon>
                    </div>                
                    <div class="w-full foot-header">
                        <p-columnFilter class="w-full" type="text" field="project.customer.name" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext">
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>

                <th class="flex flex-column align-items-center justify-content-center" >
                    <div class="flex flex-row w-full top-header" pSortableColumn="project.name">
                        <span class="flex flex-1 justify-content-center">Nombre</span>
                        <p-sortIcon field="project.name"></p-sortIcon>
                    </div>                
                    <div class="w-full foot-header">
                        <p-columnFilter class="w-full" type="text" field="project.name" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext">
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>

                <th class="flex flex-none w-10rem flex-column align-items-center justify-content-center" >
                    <div class="flex flex-row w-full top-header" pSortableColumn="lastUpdate">
                        <span class="flex flex-1 justify-content-center">Fecha</span>
                        <p-sortIcon field="lastUpdate"></p-sortIcon>
                    </div>                
                    <div class="w-full foot-header">
                        <p-columnFilter class="w-full" type="text" field="lastUpdate" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext">
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>                

                <th class="flex flex-none w-10rem flex-column align-items-center justify-content-center" >
                    <div class="flex flex-row w-full top-header" pSortableColumn="estVersion">
                        <span class="flex flex-1 justify-content-center">Versión</span>
                        <p-sortIcon field="estVersion"></p-sortIcon>
                    </div>                
                    <div class="w-full foot-header">
                        <p-columnFilter class="w-full" type="text" field="estVersion" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext">
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>                

                <th class="flex flex-none w-10rem flex-column align-items-center justify-content-center" >
                    <div class="flex flex-row w-full top-header" pSortableColumn="totalDays">
                        <span class="flex flex-1 justify-content-center">Jornadas</span>
                        <p-sortIcon field="totalDays"></p-sortIcon>
                    </div>                
                    <div class="w-full foot-header">
                        <p-columnFilter class="w-full" type="text" field="totalDays" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext">
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>                

                <th class="flex flex-none w-10rem flex-column align-items-center justify-content-center" >
                    <div class="flex flex-row w-full top-header" pSortableColumn="totalCost">
                        <span class="flex flex-1 justify-content-center">Revenue</span>
                        <p-sortIcon field="totalCost"></p-sortIcon>
                    </div>                
                    <div class="w-full foot-header">
                        <p-columnFilter class="w-full" type="text" field="totalCost" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext">
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>                
                
                <th class="buttons flex-none w-10rem flex-column">
                    <div class="flex flex-row w-full top-header"></div>
                    <div class="w-full foot-header"></div>
                </th>  
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-estimation>
            <tr>
                <td class="flex-none w-20rem">{{estimation.project.customer.name}}</td>
                <td class="flex">{{estimation.project.name}}</td>
                <td class="flex-none w-10rem justify-content-center">{{estimation.lastUpdate | date:'dd/MM/yyyy HH:mm'}}</td>
                <td class="flex-none w-10rem justify-content-center">{{estimation.estVersion}}</td> 
                <td class="flex-none w-10rem justify-content-end">{{estimation.totalDays | number: '1.0': 'es-ES'}}</td>
                <td class="flex-none w-10rem justify-content-end">{{estimation.totalCost | number:'1.2-2':'es-ES'}}€</td>
                <td class="flex-none w-10rem">
                    <div style="display:flex; flex-direction: row;">
                        <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editEstimation(estimation.id)" class="p-button-rounded p-button-text p-button-plain icon"></button>
                        <button pButton pRipple type="button" icon="pi pi-copy" (click)="copyEstimation(estimation)" class="p-button-rounded p-button-text p-button-plain icon"></button>                    
                        <button pButton pRipple type="button" icon="pi pi-history" (click)="openVersionDialog(estimation.project.id)" class="p-button-rounded p-button-text p-button-plain icon"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>    
</div>


</div>
