@import './src/assets/scss/master';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 56px;
  min-height: 56px;
  overflow:hidden;
  background-color: #272936;

  a {
    text-decoration: none;
  }
}

::ng-deep {
  .p-toolbar {
    background-color: #272936;
    border:none;
    width: 100%;
    height: 56px;
    padding: 0 1rem;
    box-sizing: border-box;

    .p-toolbar-group-left, .p-toolbar-group-right{
      height: inherit !important;
    }

    p-menu.logout-menu .p-menu {
      .p-menuitem-link .p-menuitem-text {
        color: $darkgrey;
      }

      .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
        color: $darkgrey;
      }
    }

    .primary-icon {
      margin-right: 10px;
      min-width: 0;
    }

    .primary-icon span, .primary-icon:hover{
      background-color: transparent !important;
    }

    .primary {
      .p-button, .p-button:hover {
        width: fit-content;
      }
    }
  }
}

h3{
  color: #ffff;
  margin: 0;
}