<p-toolbar class="container">
  <div class="p-toolbar-group-left header-menu">
    <button pButton pRipple type="button" icon="pi pi-bars" (click)="toggleSideNav()" id="menu-icon" class="p-button-rounded p-button-text"></button>
    <div routerLink="/main">
      <img src="assets/images/logo.png" height="40px" alt="" />
    </div>
  </div>

  <div class="p-toolbar-group-right header-submenu">
    <a pButton pRipple type="button" icon="pi pi-exclamation-circle" class="p-button-rounded p-button-text feedback-button" pTooltip="Send feedback" tooltipPosition="bottom" href="mailto:ccsw.support@capgemini.com?subject=[Estimador] Consulta / Feedback"></a>
    <p-menu class="logout-menu" #menu [popup]="true" [model]="items"></p-menu>
    <span class="p-buttonset" (click)="menu.toggle($event)">
      <p-button id="user-button" icon="pi pi-user" class="p-button-rounded"></p-button>
      <p-button label={{getName()}} icon="pi pi-sort-down" iconPos="right"></p-button>
    </span>
  </div>
</p-toolbar>
  
