@import './src/assets/scss/master';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 56px;
  min-height: 56px;
  overflow:hidden;

  a {
    text-decoration: none;
  }
}

::ng-deep {
  .p-toolbar {
    background-color: $primary;
    border:none;
    width: 100%;

    p-menu.logout-menu .p-menu {
      .p-menuitem-link .p-menuitem-text {
        color: $darkgrey;
      }

      .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
        color: $darkgrey;
      }
    }

    .primary-icon {
      margin-right: 20px;
      min-width: 0;
    }

    .primary {
      .p-button, .p-button:hover {
        width: fit-content;
      }
    }
  }
}
