@import './src/assets/scss/master';

.container {
  background-color: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 56px;
  min-height: 56px;
  overflow:hidden;
}  

.header-menu {
  background-color: $primary;
  width: fit-content;
  button {
    color: white;
  }
}

::ng-deep {

  #menu-icon {
    min-width: 0;
    margin-right: 20px;
  }

  .header-submenu .p-menu .p-menuitem-link .p-menuitem-text {
    color: $darkgrey !important;
  }

  .p-toolbar {
    background-color: $primary;
    border:none;
    width: 100%;
  }

  .p-button {
    background-color: $primary;
    border:none;
  }

  #user-button {
    background-color: white !important;
    color: $primary;
  }

  .p-button.p-button-text {
    color:white;
  }

  .p-button.p-button-text:enabled:hover {
    color: white;
  }

  .p-button:focus {
    box-shadow:none !important;
  }

  .p-buttonset {
    margin-right: 10px;

    .p-button {
      margin: 0px;
      padding: 0px;
    }

    .p-button:hover {
      background-color: $primary;
    }
  }
}

a {
  text-decoration: none;
}






.dark {
  color: $icon;
}

.feedback-button {
  width: 50px;
  min-width: 50px;
}


.menu-button {
  color: white;

  a {
    vertical-align: super;
  }
}

button {
  background-color: transparent;
}

button:focus {
  border: none;
  outline: none;
}

.header-submenu {
  display: flex;
  justify-content: flex-end;

}

