@import "./src/assets/scss/master";
@import '../../../../styles';

.container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 100%;
  width: 200px;

  nav {
    width: 100%;
    margin-top: 1rem;
  }

  .space {
    flex: 1;
  }

  .fixed-container {
    height: 25px;
    text-align: center;
    font-size: smaller;
    color: #bbc3df;
  }
}

::ng-deep {
  .p-menu {
    background-color: #f2f2f2;
    border:none;
    width: 100%;
    padding: 0;

    .p-menuitem {
      height: 40px;
      width: 100%;

      .p-menuitem-link {
        height: inherit;
        width: inherit;
        box-shadow: none;
        border-left: 6px solid #f2f2f2;

        .p-menuitem-text {
          color: #15011d;
        }
      } 

      .p-menuitem-link:not(.p-disabled):hover {
        background-color: rgba(0,0,0,.04);

        .p-menuitem-text {
          color: #15011d;
        }
      }

      .p-menuitem-link-active:not(.p-disabled):hover {
        background-color: #f2f2f2;
      }
      
      .p-menuitem-link-active {
        font-weight: 700;
        border-left: 6px solid #0070AD;

        .p-menuitem-text{
          color: #0070AD;
        }
      }
    }
  }
}
