@import "./src/assets/scss/master";
@import '../../../../styles';

.container {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  height: 100%;

  nav {
    height: 225px;
  }

  .space {
    flex: 1;
  }

  .fixed-container {
    height: 25px;
    text-align: center;
    font-size: smaller;
    color: #bbc3df;
  }
}

::ng-deep {
  .p-menu {
    background-color: $primary;
    border:none;
    width: 200px;
    margin-left: 0px;
    padding-left: 0px;

    .p-menuitem {
      .p-menuitem-link {
        box-shadow: none;

        .p-menuitem-text {
          color: white;
          padding-left: 20px;
        }
      } 

      .p-menuitem-link:not(.p-disabled):hover {
        background-color: rgba(0,0,0,.04);

        .p-menuitem-text {
          color: white;
        }
      }
      
      .p-menuitem-link-active {
        font-weight: bold;
        border-left: 6px solid $background;
      }
    }
  }
}
