<div id="edit-component">
    <div *ngIf="loading" class="loadWrapper">
        <p-progressSpinner></p-progressSpinner>
    </div>

    <p-tabView (onChange)="onChange($event)">
        <p-tabPanel header="Datos generales">
            <app-general-data *ngIf="!loading" [estimation]="estimation"></app-general-data>
        </p-tabPanel>
        <p-tabPanel header="Criterios">
            <app-criteria *ngIf="!loading" [estimation]="estimation"></app-criteria>
        </p-tabPanel>
        <p-tabPanel header="Tareas">
            <app-tasks #tasks *ngIf="!loading" [estimation]="estimation"></app-tasks>
        </p-tabPanel>
        <p-tabPanel header="Resumen">
            <app-summary #summary *ngIf="!loading" [estimation]="estimation"></app-summary>
        </p-tabPanel>
    </p-tabView>

    <div class="button-container">
        <p-button class="secondary" label="Cerrar" (click)="close()"></p-button>
        <p-button class="primary" label="Guardar" (click)="save()"></p-button>
    </div>
</div>