<div id="edit-component">
    <p-confirmDialog [style]="{width: '600px', height: 'auto'}"></p-confirmDialog>
    <div *ngIf="loading || loadingView" class="loadWrapper">
        <p-progressSpinner></p-progressSpinner>
    </div>

    <p-tabView (onChange)="onChange($event)">
        <p-tabPanel header="Datos generales">
            <app-general-data #generalData *ngIf="!loadingView" (notifyParent)="getNotification($event)" [estimation]="estimation"></app-general-data>
        </p-tabPanel>
        <p-tabPanel header="Criterios">
            <app-criteria #criteria *ngIf="!loadingView" (notifyParent)="getNotification($event)" [estimation]="estimation"></app-criteria>
        </p-tabPanel>
        <p-tabPanel header="Tareas">
            <app-tasks #tasks *ngIf="!loadingView" (notifyParent)="getNotification($event)" [estimation]="estimation"></app-tasks>
        </p-tabPanel>
        <p-tabPanel header="Resumen">
            <app-summary #summary *ngIf="!loadingView" (notifyParent)="getNotification($event)" [estimation]="estimation"></app-summary>
        </p-tabPanel>
    </p-tabView>

    <div class="flex justify-content-end pt-3 gap-2">
        <button pButton class="p-button-secondary p-button-outlined" label="Exportar" (click)="exportar()"></button>
        <button pButton class="p-button-secondary p-button-outlined" label="Cerrar" (click)="close()"></button>
        <button pButton class="p-button-primary" label="Guardar" (click)="save()"></button>
    </div>
</div>