@import "./src/assets/scss/master";

::ng-deep {
    .form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        height: 315px;
        column-gap: 25px;

        
        span.p-float-label {
            height: 60px;
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            .p-inputtext {
                min-width: 150px;
                max-width: 150px;
            }
        }

        .filterButtons {
            width: 320px;
            display:flex;
            justify-content: space-between;
            align-self: flex-end;
            margin-top: 25px;
            
            button {
                min-width: 150px;
            }
        }
        
        .p-inputtext {
            min-width: 500px;
            max-width: 500px;
        }
    }
}
