<div class="flex flex-column gap-4 mt-1">
    <div class="p-float-label">
        <input class="w-full" id="float-input" type="text" pInputText [(ngModel)]="estimation.project.name" disabled> 
        <label for="float-input">Nombre</label>
    </div>
    <div class="p-float-label">
        <input class="w-full" id="float-input" type="text" pInputText [(ngModel)]="estimation.project.customer.name" disabled> 
        <label for="float-input">Cliente</label>
    </div>
    <div class="flex flex-row gap-3">
        <div class="p-float-label">
            <input class="w-full" id="float-input" type="text" pInputText value="{{estimation.lastUpdate | date:'dd/MM/yyyy HH:mm'}}" disabled>
            <label for="float-input">Fecha actualización</label>
        </div>
        <div class="p-float-label">
            <input class="w-full" id="float-input" type="text" pInputText value="{{estimation.totalDays | number: '1.0': 'es-ES'}}" disabled>             
            <label for="float-input">Jornadas</label>
        </div>
        <div class="p-float-label">
            <input class="w-full" id="float-input" type="text" pInputText value="{{estimation.totalCost | number:'1.2-2':'es-ES'}}€" disabled> 
            <label for="float-input">Revenue</label>
        </div>
    </div>
    <div class="p-float-label">
        <input class="w-full" id="float-input" type="text" pInputText [(ngModel)]="estimation.estVersion"> 
        <label for="float-input">Versión</label>
        <small *ngIf="versionError" class="p-invalid">Debes cambiar el nombre de versión.</small>
    </div>

    <div class="flex justify-content-end pt-5 gap-2">
        <button pButton class="p-button-secondary p-button-outlined" label="Cerrar" (click)="close()"></button>
        <button pButton class="p-button-primary" label="Duplicar" (click)="duplicate()"></button>
    </div>
</div>

<div *ngIf="loading" class="loadWrapper">
    <p-progressSpinner></p-progressSpinner>
</div>
