@import "./src/assets/scss/master";

.red-text {
    color: red;
}

.right-table {
    margin-left: 50px;
}

.table-container {
    flex-grow: 1;
}

.flex-container {
    display: flex;
    margin-bottom: 50px;
}